{% extends 'base.html' %} {% block title %}Home{% endblock%} {% block body %}
<section class="hero">
  <div class="container background flex flex-ai-c">
    <div class="hero_slogan flex flex-jc-c flex-ai-c">
      <h2>Building Your Dreams</h2>
      <h4>
        You <strong><a href="/">DREAM</a></strong> it! We
        <strong><a href="/">BUILD</a></strong>
        it!
      </h4>
      <p>
        We are a Registered Construction Firm offering
        <strong>
          <a href="/">Planning & Design</a>,
          <a href="/">Building Construction</a>, <a href="/">Renovation</a>,
          <a href="/">Mechanical</a>, <a href="/">Electronics</a>,
          <a href="/">Electrical</a>, <a href="/">Plumbing</a>,</strong
        >
        and other construction services.
        <br /><br />We aim to provide outstanding Customer Service and
        distinctive interior/exterior designs.
      </p>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <h1>Features</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aliquam,
      in autem exercitationem similique veritatis ratione tempore incidunt
      perferendis. Illo quia voluptate est, inventore, eveniet nemo rerum
      numquam iure obcaecati fuga ducimus perferendis saepe, cum debitis. Beatae
      nulla nihil sapiente id esse, facere asperiores facilis ipsam laborum
      placeat, voluptatum assumenda odio et mollitia ratione atque laboriosam,
      ullam exercitationem quaerat alias quo perferendis fugit. Voluptatum a
      officiis repellendus. Cum, ratione facilis alias recusandae eius hic
      voluptate distinctio asperiores. Sequi mollitia et, quis blanditiis qui
      odio sapiente ipsam temporibus illo omnis autem nesciunt quam perspiciatis
      voluptas soluta hic. Dolor aliquid tenetur vitae.
    </p>
  </div>
</section>

<section class="services">
  <div class="container">
    <h1>Services</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aliquam,
      in autem exercitationem similique veritatis ratione tempore incidunt
      perferendis. Illo quia voluptate est, inventore, eveniet nemo rerum
      numquam iure obcaecati fuga ducimus perferendis saepe, cum debitis. Beatae
      nulla nihil sapiente id esse, facere asperiores facilis ipsam laborum
      placeat, voluptatum assumenda odio et mollitia ratione atque laboriosam,
      ullam exercitationem quaerat alias quo perferendis fugit. Voluptatum a
      officiis repellendus. Cum, ratione facilis alias recusandae eius hic
      voluptate distinctio asperiores. Sequi mollitia et, quis blanditiis qui
      odio sapiente ipsam temporibus illo omnis autem nesciunt quam perspiciatis
      voluptas soluta hic. Dolor aliquid tenetur vitae.
    </p>
  </div>
</section>

<section class="portfolio">
  <div class="container">
    <h1>Portfolio</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aliquam,
      in autem exercitationem similique veritatis ratione tempore incidunt
      perferendis. Illo quia voluptate est, inventore, eveniet nemo rerum
      numquam iure obcaecati fuga ducimus perferendis saepe, cum debitis. Beatae
      nulla nihil sapiente id esse, facere asperiores facilis ipsam laborum
      placeat, voluptatum assumenda odio et mollitia ratione atque laboriosam,
      ullam exercitationem quaerat alias quo perferendis fugit. Voluptatum a
      officiis repellendus. Cum, ratione facilis alias recusandae eius hic
      voluptate distinctio asperiores. Sequi mollitia et, quis blanditiis qui
      odio sapiente ipsam temporibus illo omnis autem nesciunt quam perspiciatis
      voluptas soluta hic. Dolor aliquid tenetur vitae.
    </p>
  </div>
</section>

<section class="blog">
  <div class="container">
    <h1>Blog</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aliquam,
      in autem exercitationem similique veritatis ratione tempore incidunt
      perferendis. Illo quia voluptate est, inventore, eveniet nemo rerum
      numquam iure obcaecati fuga ducimus perferendis saepe, cum debitis. Beatae
      nulla nihil sapiente id esse, facere asperiores facilis ipsam laborum
      placeat, voluptatum assumenda odio et mollitia ratione atque laboriosam,
      ullam exercitationem quaerat alias quo perferendis fugit. Voluptatum a
      officiis repellendus. Cum, ratione facilis alias recusandae eius hic
      voluptate distinctio asperiores. Sequi mollitia et, quis blanditiis qui
      odio sapiente ipsam temporibus illo omnis autem nesciunt quam perspiciatis
      voluptas soluta hic. Dolor aliquid tenetur vitae.
    </p>
  </div>
</section>
{% endblock %}
