{% extends 'base.html' %} {% block title %}The Pioneer of Construction Innovation{% endblock%} {% block body %}
<section class="hero">
  <div class="container background flex flex-jc-c flex-ai-c">
    <div class="hero_slogan flex flex-jc-c flex-ai-c">
      <h2>Building Your Dreams</h2>
      <h4>
        You <strong><a href="/">DREAM</a></strong> it! We
        <strong><a href="/">BUILD</a></strong>
        it!
      </h4>
      <p>
        We are a Registered Construction Firm offering
        <strong>
          <a href="/">Planning & Design</a>,
          <a href="/">Building Construction</a>, <a href="/">Renovation</a>,
          <a href="/">Mechanical</a>, <a href="/">Electronics</a>,
          <a href="/">Electrical</a>, <a href="/">Plumbing</a>,</strong
        >
        and other construction services.
        <br /><br />We aim to provide outstanding Customer Service and
        distinctive interior/exterior designs.
      </p>
    </div>
    <a href="/">
      <button id="lets_talk" type="button">Let's Talk</button>
    </a>
  </div>
</section>

<section class="features">
  <div class="container">
    <h2>Our Works</h2>

    <div class="slides flex flex-jc-c">
      <div class="mySlides">
        <img
          src="/static/images/feature1.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="mySlides">
        <img
          src="/static/images/feature2.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="mySlides">
        <img
          src="/static/images/feature3.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="mySlides">
        <img
          src="/static/images/feature4.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="mySlides">
        <img
          src="/static/images/feature5.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="mySlides">
        <img
          src="/static/images/feature6.jpg"
          alt=""
          srcset=""
        />
      </div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <div class="row">
      <div class="column">
        <img
          class="demo cursor"
          src="/static/images/feature1.jpg"
          style="width: 100%"
          onclick="currentSlide(1)"
          alt="Picture 1"
          srcset=""
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="/static/images/feature2.jpg"
          style="width: 100%"
          onclick="currentSlide(2)"
          alt="Picture 2"
          srcset=""
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="/static/images/feature3.jpg"
          style="width: 100%"
          onclick="currentSlide(3)"
          alt="Picture 3"
          srcset=""
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="/static/images/feature4.jpg"
          style="width: 100%"
          onclick="currentSlide(4)"
          alt="Picture 4"
          srcset=""
        />
      </div>
      <div class="column">
        <img
          class="demo cursor"
          src="/static/images/feature5.jpg"
          style="width: 100%"
          onclick="currentSlide(5)"
          alt="Picture 5"
          srcset=""
          />
        </div>
        <div class="column">
          <img
          class="demo cursor"
          src="/static/images/feature6.jpg"
          style="width: 100%"
          onclick="currentSlide(6)"
          alt="Picture 6"
          srcset=""
        />
      </div>
    </div>
  </div>
</section>

<section class="services">
  <div class="container flex">
    <h3>Services We Offer</h3>
    <div class="services-container flex flex-jc-c">
      
      <div class="row-container flex">
        <div class="services-item flex">
         <a href="/" class="item-overlay"></a>
           <img id="serviceImg" src="/static/images/design_planning.png" alt="">
           <h4 id="serviceHeader">Planning & Design</h4>
        </div>
        <div class="services-item flex">
          <a href="/" class="item-overlay"></a>
          <img id="serviceImg" src="/static/images/building_con.png" alt="">
          <h4 id="serviceHeader">Building Construction</h4>
        </div>
        <div class="services-item flex">
          <img id="serviceImg" src="/static/images/renovation.png" alt="">
          <h4 id="serviceHeader">Renovation</h4>
        </div>
        <div class="services-item flex">
          <img id="serviceImg" src="/static/images/plumbing.png" alt="">
          <h4 id="serviceHeader">Plumbing</h4>
        </div>
      </div>
      <div class="row-container flex">
        <div class="services-item flex">
          <img id="serviceImg" src="/static/images/electrical.png" alt="">
          <h4 id="serviceHeader">Electrical</h4>
        </div>
        <div class="services-item flex">
          <img id="serviceImg" src="/static/images/electronics.png" alt="">
          <h4 id="serviceHeader">Electronics</h4>
        </div>
        <div class="services-item flex">
          <img id="serviceImg" src="/static/images/mechanic.png" alt="">
          <h4 id="serviceHeader">Mechanical</h4>
        </div>
        <div class="services-item flex">
          <img id="serviceImg" src="/static/images/consult.png" alt="">
          <h4 id="serviceHeader">Consultation</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="portfolio">
  <div class="container">
    <h1>Portfolio</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aliquam,
      in autem exercitationem similique veritatis ratione tempore incidunt
      perferendis. Illo quia voluptate est, inventore, eveniet nemo rerum
      numquam iure obcaecati fuga ducimus perferendis saepe, cum debitis. Beatae
      nulla nihil sapiente id esse, facere asperiores facilis ipsam laborum
      placeat, voluptatum assumenda odio et mollitia ratione atque laboriosam,
      ullam exercitationem quaerat alias quo perferendis fugit. Voluptatum a
      officiis repellendus. Cum, ratione facilis alias recusandae eius hic
      voluptate distinctio asperiores. Sequi mollitia et, quis blanditiis qui
      odio sapiente ipsam temporibus illo omnis autem nesciunt quam perspiciatis
      voluptas soluta hic. Dolor aliquid tenetur vitae.
    </p>
  </div>
</section>

<section class="blog">
  <div class="container">
    <h1>Blog</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aliquam,
      in autem exercitationem similique veritatis ratione tempore incidunt
      perferendis. Illo quia voluptate est, inventore, eveniet nemo rerum
      numquam iure obcaecati fuga ducimus perferendis saepe, cum debitis. Beatae
      nulla nihil sapiente id esse, facere asperiores facilis ipsam laborum
      placeat, voluptatum assumenda odio et mollitia ratione atque laboriosam,
      ullam exercitationem quaerat alias quo perferendis fugit. Voluptatum a
      officiis repellendus. Cum, ratione facilis alias recusandae eius hic
      voluptate distinctio asperiores. Sequi mollitia et, quis blanditiis qui
      odio sapiente ipsam temporibus illo omnis autem nesciunt quam perspiciatis
      voluptas soluta hic. Dolor aliquid tenetur vitae.
    </p>
  </div>
</section>
{% endblock %}
