.footer {
  ul,
  li,
  a,
  a::after,
  a::before {
    text-decoration: none;
    list-style: none;
  }
  position: sticky;
  height: 100vh;
  padding-top: 6.5rem;

  .container {
    padding-top: 0;
    background-image: linear-gradient(
      to bottom,
      $lightGray,
      $accent-secondary,
      $accent-primary
    );
    height: 100%;
    border-top: 5px solid $white;
    flex-direction: column;
  }

  &_media {
    position: fixed;
    // position: relative;
    bottom: 0.0625rem;
    right: 1rem;
    width: 100%;
    height: fit-content;

    &_list {
      width: 100%;
      justify-content: right;
    }

    &_item {
      padding-left: 0.865rem;

      a {
        height: 90%;
        color: coral;
        text-shadow: 4px 2px 2px $dark;

        &:hover {
          color: darkgray;
          // color: darken($accent-primary, 2%);
          transform: rotate(-20deg);
          text-shadow: -6px 3px 2px $dark;
          transition: all 300ms ease-in-out;
        }
      }
    }
  }
}
