.footer {
  --color : coral;
  ul,
  li,
  a,
  a::after,
  a::before {
    text-decoration: none;
    list-style: none;
  }
  position: sticky;
  height: 100vh;
  padding-top: 3.2rem;

  .background{
    height: 100%;
    background-image: linear-gradient(
      to top,
      $lightGray,
      $accent-secondary,
      $accent-primary
    );
  }

  .container {
    padding-top: 0;
    height: 100%;
    flex-direction: column;
  }

  &_media {
    position: fixed;
    // position: relative;
    bottom: 0.0625rem;
    right: 1rem;
    width: 100%;
    height: fit-content;

    &_list {
      width: 100%;
      justify-content: right;
    }

    &_item {
      padding-top: 0.6rem;
      padding-left: 0.865rem;
      padding-bottom: 0.6rem;

      a {
        height: 90%;
        color: var(--color);
        text-shadow: 4px 2px 3px $dark;

        &:hover {
          color: darkgray;
          // color: darken($accent-primary, 2%);
          transform: rotate(-20deg);
          text-shadow: -6px 3px 2px $dark;
          transition: all 300ms ease-in-out;
        }
      }
    }
  }

  &_team {
    h4 {
      text-transform: uppercase;
      color: $white;
    }
  }
}
