.hero {
  a,
  a::after,
  a::before {
    text-decoration: none;
    color: $accent-primary;
  }

  background-image: linear-gradient(to right, $accent-primary, $lightGray);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  color: $white;

  .container {
    &.background {
      height: 100vh;
      background-image: url(/static/images/HSCS-BG2.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &_slogan {
    h2 {
      color: $accent-primary;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
    flex-direction: column;
    height: max-content;
    margin: auto 5rem;
    padding: 0.865rem;
    background: darken(rgba($color: $white, $alpha: 0.8), 90%);
    box-shadow: 6px 6px 1px #000;
    text-align: justify;
  }
}

.features {
  height: 100vh;
  padding-top: 2rem;
  h3 {
    text-align: center;
    padding: 1rem auto .5rem  auto;
    margin: 1rem auto  .5rem  auto;
    color: darken($accent-primary, 30%);
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .slides {
    width: 100%;
  }
  .mySlides {
    display: none;

    > img {
      height: 18.75rem;
      width: auto;
    }
  }

  img {
    vertical-align: middle;
  }

  .cursor {
    cursor: pointer;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color:$lightGray;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .caption-container {
    text-align: center;
    background-color: #222;
    color: white;
    margin: 0.125rem auto;

    // height: 1rem;
  }

  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }
}

.services {
  height: 50vh;
}

.portfolio {
  height: 50vh;
}

.blog {
  height: 50vh;
}
