//BREAKPOINT
@media (min-width: 55.75em) {

}

@media (max-width: 55.6875em) {
  nav > a.header_logo {
    flex-grow: 1;
    padding: 0 1rem;
    width: 100%;
    justify-content: center;
    transition: all 300ms ease;
    > img {
      width: 50%;
    }
  }

  .hero {

    .container {
      padding: 0;
      margin: 0;
    }
  }
}

@media (max-width: 39.9375em) {
  .hero {
    &_slogan {
      margin: min(2rem) 1rem 2rem 1rem !important;
    }
  }
}

// Breakpoints
$breakpoints-up: (
  "small": "40em",
  "medium": "55.75em",
  "large": "64em",
  "x-large": "87.5em",
);

$breakpoints-down: (
  "x-small": "39.9375em",
  "small": "55.6875em",
  "medium": "63.9375em",
  "large": "87.9375em",
);

@mixin breakpoints-up($size) {
  @media (min-width: map-get($breakpoints-up, $size )) {
    @content;
  }
}

@mixin breakpoints-down($size) {
  @media (max-width: map-get($breakpoints-down, $size )) {
    @content;
  }
}
