//COLORS
$accent-primary: #01f3e7;
$accent-secondary: #01f3aa;
$white: #ffffff;
$dark: #000000;
$lightGray: #746f6f;

//FONT SIZE
$font-sm: .75em;
$font-md: .875em;
$font-n: 1em;
$font-lg: 1.125em;
$font-xl: 2em;
