@media (max-width: 55.6875em) {
  nav > a.header_logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0 1rem;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  nav > a.header_logo > img {
    width: 50%;
  }
  .hero .container {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 39.9375em) {
  .hero_slogan {
    margin: auto 1rem !important;
  }
}

@-webkit-keyframes fade-in {
  from {
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes fade-in {
  from {
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@-webkit-keyframes fade-out {
  from {
    height: 100%;
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

@keyframes fade-out {
  from {
    height: 100%;
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 300;
  line-height: 1.3;
}

button,
.button {
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  padding: 2rem;
}

strong {
  font-weight: bold;
}

@media (max-width: 55.6875em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 55.75em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 999;
}

.header .overlay {
  opacity: 0;
  position: fixed;
  height: 0;
  top: 6rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(transparent));
  background-image: linear-gradient(#000000, transparent);
}

.header.open .overlay {
  display: block;
  z-index: 15;
}

.header.open .header_menu > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header_menu > span:nth-child(2) {
  width: 0;
}

.header.open .header_menu > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header > nav {
  height: inherit;
  width: 100%;
  padding: 1.25rem 1.5rem;
  color: #ffffff;
}

.header ul,
.header li {
  list-style: none;
}

.header a,
.header a:visited,
.header a:hover {
  text-align: none;
  cursor: pointer;
}

.header_logo {
  height: inherit;
}

.header_logo img {
  height: 4rem;
}

.header_menu > span {
  display: block;
  height: 0.25em;
  width: 1.625em;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 2px 2px;
          transform-origin: 2px 2px;
}

.header_menu > span:not(:last-child) {
  margin-bottom: 0.25em;
}

.header_pages {
  --spacing: 1em;
}

.header_pages a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  padding: calc(var(--spacing) / 2) var(--spacing);
}

.header_pages a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.header_pages a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header_pages a:hover {
  color: #746f6f;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header .cta-btn {
  border: none;
  background-color: transparent;
  padding: 0.3125em 0.625em;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 600;
  position: relative;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  overflow: hidden;
  z-index: 1;
}

.header .cta-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01f3e7;
  border: none;
  z-index: -2;
}

.header .cta-btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #01a79f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.header .cta-btn:hover {
  color: #ffffff;
}

.header .cta-btn:hover:before {
  width: 100%;
}

.header_menu_toggle {
  position: fixed;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  z-index: 999;
  width: 100%;
}

.header_menu_toggle > a {
  color: #746f6f;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.625rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header_menu_toggle > a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.nav-scrolled {
  background-color: #01f3e7;
  -webkit-box-shadow: 0px 4px 6px #746f6f;
          box-shadow: 0px 4px 6px #746f6f;
}

.nav-scrolled > nav {
  color: #263f40;
}

.nav-scrolled a {
  font-weight: bold;
  color: #263f40;
}

.nav-scrolled a:after {
  background-color: #263f40;
}

.nav-scrolled a:hover {
  color: black;
}

.nav-scrolled .cta-btn {
  color: #01f3e7;
}

.nav-scrolled .cta-btn:before {
  background: #4d4a4a;
  color: #01f3e7;
}

.nav-scrolled .cta-btn:after {
  background: #746f6f;
}

.nav-scrolled .cta-btn:hover {
  color: #01f3e7;
}

.nav-scrolled .header_menu span {
  background-color: #263f40;
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(#01f3e7), to(#746f6f));
  background-image: linear-gradient(to right, #01f3e7, #746f6f);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  color: #ffffff;
}

.hero a,
.hero a::after,
.hero a::before {
  text-decoration: none;
  color: #01f3e7;
}

.hero .container.background {
  height: 100vh;
  background-image: url(/static/images/HSCS-BG2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero_slogan {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto 5rem;
  padding: 0.865rem;
  background: rgba(26, 26, 26, 0.8);
  -webkit-box-shadow: 6px 6px 1px #000;
          box-shadow: 6px 6px 1px #000;
  text-align: justify;
}

.hero_slogan h2 {
  color: #01f3e7;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.hero_slogan h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.features {
  height: 50vh;
  padding-top: 5rem;
}

.services {
  height: 50vh;
}

.portfolio {
  height: 50vh;
}

.blog {
  height: 50vh;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  padding-top: 6.5rem;
}

.footer ul,
.footer li,
.footer a,
.footer a::after,
.footer a::before {
  text-decoration: none;
  list-style: none;
}

.footer .container {
  padding-top: 0;
  background: #01f3aa;
  height: 100%;
  border-top: 5px solid #746f6f;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_media {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer_media_list {
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.footer_media_item {
  padding-left: 0.865rem;
}

.footer_media_item a {
  height: 90%;
  color: #01dacf;
  text-shadow: 2px 6px 1px #746f6f;
}

.footer_media_item a:hover {
  color: #01f3e7;
  text-shadow: -2px 6px 1px #746f6f;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/*# sourceMappingURL=main.css.map */