html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 300;
  line-height: 1.3;
}

button,
.button {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ac-sa {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.flex-ac-se {
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.flex-ac-sb {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.container {
  position: relative;
  padding: 2rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.header {
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 999;
}

.header .overlay {
  opacity: 0;
  position: fixed;
  height: 0;
  top: 6rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(transparent));
  background-image: linear-gradient(#000000, transparent);
}

.header.open .overlay {
  display: block;
  z-index: 15;
}

.header.open .header_menu > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header_menu > span:nth-child(2) {
  width: 0;
}

.header.open .header_menu > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header > nav {
  height: inherit;
  width: 100%;
  padding: 1.25rem 1.5rem;
  color: #ffffff;
}

.header ul,
.header li {
  list-style: none;
}

.header a,
.header a:visited,
.header a:hover {
  text-align: none;
  cursor: pointer;
}

.header_logo {
  height: inherit;
}

.header_logo img {
  height: inherit;
}

.header_menu > span {
  display: block;
  height: 0.25em;
  width: 1.625em;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 2px 2px;
          transform-origin: 2px 2px;
}

.header_menu > span:not(:last-child) {
  margin-bottom: 0.25em;
}

.header_pages {
  --spacing: 1em;
}

.header_pages a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  padding: calc(var(--spacing) / 2) var(--spacing);
}

.header_pages a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.header_pages a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header_pages a:hover {
  color: #746f6f;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header .cta-btn {
  border: none;
  background-color: transparent;
  padding: 0.3125em 0.625em;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 600;
  position: relative;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  overflow: hidden;
  z-index: 1;
}

.header .cta-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01f3e7;
  border: none;
  z-index: -2;
}

.header .cta-btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #01a79f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.header .cta-btn:hover {
  color: #ffffff;
}

.header .cta-btn:hover:before {
  width: 100%;
}

.header_menu_toggle {
  position: fixed;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  z-index: 999;
  width: 100%;
}

.header_menu_toggle > a {
  color: #746f6f;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.625rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header_menu_toggle > a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.nav-scrolled {
  background-color: #01f3e7;
  border-bottom: 1px solid #746f6f;
  height: 3.625rem;
}

.nav-scrolled > nav {
  color: #263f40;
}

.nav-scrolled a {
  font-weight: bold;
  color: #263f40;
}

.nav-scrolled a:after {
  background-color: #263f40;
}

.nav-scrolled a:hover {
  color: black;
}

.nav-scrolled .cta-btn {
  color: #01f3e7;
}

.nav-scrolled .cta-btn:before {
  background: #4d4a4a;
  color: #01f3e7;
}

.nav-scrolled .cta-btn:after {
  background: #746f6f;
}

.nav-scrolled .cta-btn:hover {
  color: #01f3e7;
}

.nav-scrolled .header_menu span {
  background-color: #263f40;
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(#01f3e7), to(#746f6f));
  background-image: linear-gradient(to right, #01f3e7, #746f6f);
  width: 100%;
  height: 100vh;
  color: #ffffff;
}

.hero a,
.hero a::after,
.hero a::before {
  text-decoration: none;
  color: #01f3e7;
}

.hero .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .container.background {
  height: 100vh;
  background-image: url(/static/images/HSCS-BG2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero #lets_talk {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 0.3125em 0.625em;
  -webkit-box-shadow: 5px 5px 2px #000000;
          box-shadow: 5px 5px 2px #000000;
  color: #ffffff;
  font-size: 2em;
  font-weight: 600;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  overflow: hidden;
  z-index: 1;
}

.hero #lets_talk:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: coral;
  border: none;
  z-index: -2;
}

.hero #lets_talk:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ff4704;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: -1;
}

.hero #lets_talk:hover {
  color: #ffffff;
  -webkit-box-shadow: -5px 5px 2px #000000;
          box-shadow: -5px 5px 2px #000000;
}

.hero #lets_talk:hover:before {
  width: 100%;
}

.hero_slogan {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 2em 2em;
  padding: 0.865rem;
  background: rgba(26, 26, 26, 0.8);
  -webkit-box-shadow: 6px 6px 1px #000;
          box-shadow: 6px 6px 1px #000;
  text-align: justify;
}

.hero_slogan h2 {
  color: #01f3e7;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.hero_slogan h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.features {
  height: 100vh;
  padding-top: 1rem;
}

.features .container {
  padding-top: 0.625rem;
}

.features h2 {
  text-align: center;
  padding: 0.75rem auto 0.5rem auto;
  margin: 0.75rem auto 0.5rem auto;
  color: #005b56;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #746f6f;
}

.features h2:hover {
  color: #018d86;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.features .slides {
  width: 100%;
}

.features .mySlides {
  display: none;
}

.features .mySlides > img {
  height: 18.75rem;
  width: auto;
}

.features img {
  vertical-align: middle;
}

.features .cursor {
  cursor: pointer;
}

.features .prev,
.features .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: #746f6f;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.features .prev:hover,
.features .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.features .next {
  right: 0.0625rem;
  border-radius: 50%;
}

.features .next:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}

.features .prev {
  left: 0.0625rem;
  border-radius: 50%;
}

.features .prev:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}

.features .caption-container {
  text-align: center;
  background-color: #222;
  color: white;
  margin: 0.125rem auto;
}

.features .demo {
  opacity: 0.6;
}

.features .active,
.features .demo:hover {
  opacity: 1;
}

.services {
  --img-height: 7.5rem;
  height: 100vh;
  padding-top: 1rem;
  background: #f1f1f1;
  color: coral;
}

.services img {
  vertical-align: middle;
  width: 80%;
  height: var(--img-height);
}

.services .container {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0.625rem;
}

.services .container h3 {
  text-align: center;
  margin: 0.5rem auto;
  font-size: 2em;
  text-transform: uppercase;
}

.services-container {
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-container h4 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.services-container .row-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.services-container .row-container .services-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(var(--img-height) + 10%);
  width: 11rem;
  margin: 0.625rem;
  padding: 0.125rem;
  border-radius: 0.625rem;
  text-align: center;
}

.services-container .row-container .services-item img,
.services-container .row-container .services-item h4,
.services-container .row-container .services-item .item-overlay {
  cursor: pointer;
}

.services-container .row-container .services-item .item-overlay {
  position: absolute;
  background-color: #000000;
  width: inherit;
  height: 0;
  border-radius: 0.625rem;
  opacity: 0.6;
  z-index: 25;
}

.services-container .row-container .services-item .show {
  height: inherit;
}

.portfolio {
  height: 50vh;
}

.blog {
  height: 50vh;
}

.footer {
  --color: coral;
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  padding-top: 3.2rem;
}

.footer ul,
.footer li,
.footer a,
.footer a::after,
.footer a::before {
  text-decoration: none;
  list-style: none;
}

.footer .background {
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#746f6f), color-stop(#01f3aa), to(#01f3e7));
  background-image: linear-gradient(to top, #746f6f, #01f3aa, #01f3e7);
}

.footer .container {
  padding-top: 0;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_media {
  position: fixed;
  bottom: 0.0625rem;
  right: 1rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer_media_list {
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.footer_media_item {
  padding-top: 0.6rem;
  padding-left: 0.865rem;
  padding-bottom: 0.6rem;
}

.footer_media_item a {
  height: 90%;
  color: var(--color);
  text-shadow: 4px 2px 3px #000000;
}

.footer_media_item a:hover {
  color: darkgray;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  text-shadow: -6px 3px 2px #000000;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.footer_team h4 {
  text-transform: uppercase;
  color: #ffffff;
}

@-webkit-keyframes fade-in {
  from {
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes fade-in {
  from {
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@-webkit-keyframes fade-out {
  from {
    height: 100%;
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

@keyframes fade-out {
  from {
    height: 100%;
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

@media (max-width: 55.6875em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (max-width: 55.6875em) {
  * {
    line-height: normal;
    font-size: 99%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .features,
  .services {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  nav > a.header_logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0 1rem;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .hero #lets_talk {
    font-size: 1.125em;
  }
  .hero .container {
    padding: 0;
    margin: 0;
  }
  .services {
    font-size: 80%;
  }
  .services > .container > .services-container > .row-container > .services-item {
    background-color: rgba(1, 243, 170, 0.9);
    width: 8.25rem;
    height: 8.25rem;
  }
}

@media (max-width: 39.937em) {
  .hero #lets_talk {
    font-size: 1em;
  }
  .hero_slogan {
    margin: 2rem 1rem 2rem 1rem;
  }
  .services {
    font-size: 70%;
    padding-top: 2.5rem;
  }
  .services > .container > .services-container > .row-container {
    margin: 0;
    padding: 0.125rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services > .container > .services-container > .row-container > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .services > .container > .services-container > .row-container > .services-item {
    background-color: rgba(1, 243, 231, 0.9);
    height: 4.5rem;
  }
  .services > .container > .services-container > .row-container > .services-item > img {
    height: 90%;
  }
}

@media (max-width: 25.875em) {
  .services {
    font-size: 60%;
  }
  .services * {
    padding: 0.125rem;
    margin: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .services > .container > .services-container > .row-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services > .container > .services-container > .row-container > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .services > .container > .services-container > .row-container > .services-item {
    background-color: rgba(255, 255, 255, 0.9);
    height: inherit;
  }
  .services > .container > .services-container > .row-container > .services-item > img {
    height: inherit;
  }
}

@media (min-width: 55.75em) {
  .hide-for-desktop {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */