<footer class="footer">
  <div class="container flex flex-ai-c">
    <div id="media" class="footer_media flex">
      <ul class="footer_media_list flex">
        <li class="footer_media_item">
          <a href="#" id="media_list" class="fab fa-facebook-square fa-3x"></a>
        </li>
        <li class="footer_media_item">
          <a href="#" id="media_list" class="fab fa-youtube-square fa-3x"></a>
        </li>
        <li class="footer_media_item">
          <a href="#" id="media_list" class="fab fa-instagram-square fa-3x"></a>
        </li>
        <li class="footer_media_item">
          <a href="#" id="media_list" class="fab fa-twitter-square fa-3x"></a>
        </li>
        <li class="footer_media_item">
          <a href="#" id="media_list" class="fab fa-linkedin fa-3x"></a>
        </li>
      </ul>
    </div>

    <div class="footer_team">
      <h4>Team</h4>
    </div>

    <div class="footer_workhours">
      <h4>Work</h4>
    </div>

    <div class="footer_list">
      <h4>List</h4>
    </div>

    <div class="footer_copyright">
      <h4>Copyright</h4>
    </div>
  </div>
</footer>
