<footer class="footer">
  <div class="background">
    <div class="container flex flex-ai-c">
      <div id="media" class="footer_media flex">
        <ul class="footer_media_list flex">
          <li class="footer_media_item">
            <a
              href="https://www.facebook.com/hopestoneconstruction"
              target="_blank"
              id="media_list"
              class="fab fa-facebook-square fa-3x"
            ></a>
          </li>
          <li class="footer_media_item">
            <a href="#" id="media_list" class="fab fa-youtube-square fa-3x"></a>
          </li>
          <li class="footer_media_item">
            <a
              href="#"
              id="media_list"
              class="fab fa-instagram-square fa-3x"
            ></a>
          </li>
          <li class="footer_media_item">
            <a href="#" id="media_list" class="fab fa-twitter-square fa-3x"></a>
          </li>
          <li class="footer_media_item">
            <a href="#" id="media_list" class="fab fa-linkedin fa-3x"></a>
          </li>
          <li class="footer_media_item">
            <a href="#" id="media_list" class="fas fa-map-marker-alt fa-3x"></a>
          </li>
        </ul>
      </div>

      <div class="footer_team">
        <div class="container">
          <h4>meet our team</h4>
        </div>
      </div>

      <div class="footer_workhours">
        <h4>Work</h4>
      </div>

      <div class="footer_list">
        <h4>List</h4>
      </div>

      <div class="footer_copyright">
        <h4>Copyright</h4>
      </div>
    </div>
  </div>
</footer>
