<header class="header">
  <div class="overlay"></div>

  <nav class="flex flex-jc-sb flex-ai-c">
    <a href="/" class="header_logo flex flex-ai-c">
      <img src="/static/images/HSCS-logo.png" alt="Hopestone" />
    </a>

    <a id="hamburger" class="header_menu hide-for-desktop">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div class="header_pages flex hide-for-mobile">
      <a href="">home</a>
      <a href="">services</a>
      <a href="">portfolio</a>
      <a href="">blog</a><a href="">about</a>
    </div>

    <button class="cta-btn hide-for-mobile" type="button">Get A Quote</button>
  </nav>

  <div id="toggleMenu" class="header_menu_toggle">
    <a href="">home</a>
    <a href="">services</a>
    <a href="">portfolio</a>
    <a href="">blog</a>
    <a href="">about</a>
  </div>
</header>
